@charset "utf-8";
.dark_overlay{
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:3;
}
.contents_view{
    position:absolute;
    top:10px;
    left:50%;
    margin-left:-450px;
    width:900px;
    background:#fff;
    z-index:3;
    border-radius:5px;
}


.contents_view header{
    width:100%;
    height:55px;
    background:#08141f;
}
.contents_view header h3{
    color:#fff;
    font-size: 23px;
    padding-left: 13px;
    line-height: 40px;
    height:35px;
    letter-spacing:1px;
}
.contents_view header h4{
    color:#fff;
    font-size:14px;
    line-height:12px;
    padding-left:13px;
}

.contents_view #bookmark{
    width:42px;
    height:35px;
    background:none;
    position:absolute;
    top:0px;
    right:10px;
}
.contents_view #bookmark i{
    font-size: 30px;
    margin-left: 8px;
    margin-top: 12px;
    color:#ff8f10;
    cursor:pointer;
}

#con_left{
    width:630px;
    height:auto;
    float:left;
}
.contents_view .contents_img{
}
.contents_view .contents_slide{
    height:110px;
    background:#000;
    color:#fff;
    text-align:center;
    line-height:110px;
}
.contents_view #comment_box{
    margin:0px 10px;
}
.contents_view #comment_box #comment_count{
     color:#8d8d8d;
     text-align:right;
     margin-right:10px;
     margin-top:10px;
 }
.contents_view #comment_box #comment_text
{
    float:left;
    width: 518px;
    height: 66px;

    min-width: 518px;
    min-height:66px;
    max-width: 518px;
    max-height:66px;

    margin:0px;
    padding: 6px;
    line-height: 20px;
}
.contents_view #comment_box #comment_bt{
    float:left;
    width:78px;
    height:80px;
    border:none;
    margin:0px;
    padding:0px;
    background:#488ccb;
}
.contents_view #comment_box #comment_bt i{
    color:#fff;
    font-size:48px;
}

.contents_view #comment_box .comment_div{
    position:relative;
    border-top: 1px solid #DADADA;
    float: left;
    margin-top: 20px;
    padding-top:13px;
    width: 100%;
}

.contents_view #comment_box .comment_div .comment_pic{
    float:left;
    width:50px;
    height:50px;
    margin-right:8px;
}
.contents_view #comment_box .comment_div .comment_pic img{
    width:50px;
    height:50px;
}

.contents_view #comment_box .comment_div h4{
    line-height:20px;
    margin-top:-4px;
    margin-bottom:6px;
    font-size:18px;
}
.contents_view #comment_box .comment_div .comment_contents{
    line-height:19px;
    margin-left: 58px
}
.contents_view #comment_box .comment_div .comment_time{
    position:absolute;
    top:8px;
    right:0px;
    color:#7c7c7c;
}
.con_right{
    width:246px;
    height:1359px;
    float:right;
    padding:0px 11px;
    border-left: 1px solid #d1d1d1;
}
.con_right #designer_tap{
    text-align:center;
    background:#818181;
    color:#fff;
    margin-left:-12px;
    width:269px;
}

.con_right .designer_info{
    margin-top:10px;
    margin-bottom:25px;
    width: 100%;
    height: 50px;
}
.con_right .designer_info figure{
    width:50px;
    height:50px;
    float:left;
}
.con_right .designer_info figure img{
    width:50px; height:50px;
}
.con_right .designer_info h4{
    width:196px;
    float:left;
    text-align:center;
    font-size:20px;
    height:30px;
}
.con_right .designer_info h5{
    width:196px;
    float:left;
    text-align:center;
    font-size:13px;
}
    .con_right .designer_info h5 i {
        margin-right:5px;
        margin-left:-10px;
        font-size:14px;
        color:#737373;
    } 
#designer_chat{
    width:100%;
    height:30px;
    border:none;
    background:#818181;
    color:#fff;
    font-size:14px;
    margin-bottom:13px;
}
#designer_chat i{
    color: #818181;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    font-size: 28px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-right:5px;
    border-radius:3px;
}

#content_down{
    width:100%;
    height:55px;
    background:#0069b4;
    border:none;
    margin-bottom:20px;
}

    #content_down i {
        color: #FFF;
        font-size: 34px;
        vertical-align: middle;

    }

#con_like_bt{
    width:70px;
    height:70px;
    border:none;
    text-align:center;
    background:#f54c26;
    border-radius:50%;
    display:block;
    margin:0px auto;

}

    #con_like_bt i {
        color:#fff;
        font-size:32px;
        vertical-align:middle;
    }
    #con_like_score{
        color:#f54c26;
        font-size:22px;
        text-align:center;
        margin-top:5px;
        font-weight:bold;
        
        border-bottom:1px solid #dadada;
        padding-bottom:20px;
    }

#file_disc{
    width:100%;
    height:160px;
    

    color:#545454;
    text-align:center;
    line-height:160px;
}

#contents_score{
    width:100%;
    border-top:1px solid #dadada;
    border-bottom:1px solid #dadada;
    padding:10px 0px;
}
#contents_score ul{
    width:100%;
    height:30px;
    line-height:30px;
}
    #contents_score ul li {
        float:left;
        font-size:16px;
    }
    #contents_score i {
        color:#4b4b4b;
        font-size: 17px;
        margin-left: 15px;
        margin-right: 18px;
    }
    #contents_score .contents_view_score{
        float:right;
        color:#0530d2;
        margin-right:15px;
    }

.share_sns{
    width:100%;
    height:58px;
    border:none;
    border-radius:2px;
    margin-top:10px;
    color:#fff;
    text-align:center;
}
    .share_sns i {
        margin-left: -22px;
        margin-right: 15px;
        font-size: 24px;
        vertical-align: middle;
    }
.share_face{
    background:#4b65a3;
}
.share_twit{
    background:#12abf2;
}
.share_twit i{
    margin-left: -38px;
    margin-right: 19px;
}
#contents_tag{
    width:232px;
    background:#e6e6e6;
    padding:0px 7px;
    padding-bottom:6px;
    margin-top:50px;
}

    #contents_tag li {
        background:#fff;
        border-radius:2px;
        color:#545454;
        display:inline-block;
        padding:0px 8px;
        margin-top:7px;
    }
