@charset "utf-8";

#main_figure {
    background: url(../CH/img/mein_img.png);
    width: 100%;
    height: 135px;
    line-height:135px;
    text-align: center;
}

    #main_figure h2 {
        color: #fff;
        font-size: 40px;
    }

#navsel{
    width:1200px;
    height:40px;
    margin:0px auto;
}
    .selected_nav{
        color:#ffc76b !important;
        border-bottom:3px solid #ffc76b;
    }

    #lnb_nav > ul > li{
        float:left;
        padding:0px 8px;
        color:#787878;
        font-size:16px;
        padding-top:10px;
    }

    #search_option{
        float:right;
        height:30px;
        line-height:40px;
    }
        #search_option .sod_select {
            width:140px;
            height:30px;
            border:1px solid #dcdcdc;
            border-radius:2px;
            padding:8px 0px;
        }
        #search_option .sod_select::before, .sod_select::after{
            top:9px;
            right:5px;
        }
#category{
    width:100%;
    height:50px;
    background:#000;
    color:#fff;
}
    #category h3 {
        color:#fff;
        text-align:center;
        font-size:20px;
        font-weight:300;
        height:16px;
        line-height:16px;
        padding-top:12px;
    }
    #category #down_arrow{
        font-size:20px;
        margin:0px auto;
        text-align:center;
        height:22px;
        line-height:14px;
        padding-top:-5px;
    }
    #category .fa-angle-down{
        color:#fff;
        margin:0px auto;
    }
        #category #open_cate{
            width:100%;
            height:93px;
            margin:0px auto;
            position:absolute;
            overflow:hidden;
            
        }  
            #category #open_cate_inner{
            width:100%;
            height:85px;
            background:rgba(0,0,0,0.65);
            margin:0px auto;
            border-bottom:5px solid #c3c3c3;
            position:absolute;
            top:-85px;
            }
                #category #open_cate ul {
                    width:850px;
                    height:54px;
                    padding-top:16px;
                    margin:0px auto;
                }
                    #category #open_cate ul li {
                        width:140px;
                        height:27px;
                        float:left;
                        color:#fff;
                        text-align:center;
                    }

#contents_box{
    width:1200px;
    height:650px;
    margin:0px auto;
}
.contents_card{
    width:280px;
    height:300px;
    background:#fff;
    overflow:hidden;
    margin-top:40px;
    border-radius:3px;
    float:left;
    margin-right:26px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}
.last_contents{
    margin-right:0px;
}
    .contents_pic{
        height:215px;
    }
    .contents_disc{
        height:75px;
        padding:5px 10px;
    }
        .contents_sub{
            width:100%;
            height:27px;
        }
        .contents_disc h4,h5{
            display:inline-block;
            color:#2f2f2f;
            font-weight:600;
            float:left;
            font-size:20px;
            height:26px;
            line-height:26px;
        }
        .contents_disc h5 {
            float:right;
            color:#686868;
            font-size:14px;
            height:15px;
            line-height:15px;
            margin-top:4px;
            font-weight:300;
        }
        .contents_disc img{
            width:36px;
            height:40px;
            padding-top:3px;
            clear:both;
        }
        .contents_disc .by{
            color:#808080;
            margin-left:10px;
            margin-right:5px;
        }
        .contents_disc .fa-heart{
            color:#f15620;
            font-size:30px;
            margin-top:11px;
            float:right;
        }
/* main section end */
