@charset "utf-8";
.dark_overlay{
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    z-index:5;
    top:0;
    left:0;
}
#creat_account_area{
    width:450px;
    height:500px;
    background:#fff;
    border-radius:2px;
    z-index:6;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-225px;
    margin-top:-250px;
}
    #creat_account_area #account_title {
        height:35px;
        line-height:35px;
        background:#000;
        text-align:center;
        color:#fff;
        font-size:22px;
    }
    #creat_account_area #account_box {
        width:430px;
        height:425px;
        padding:20px 10px;
    }
        #creat_account_area #account_box #account_idpass label{
            display:inline-block;
            width:140px;
            text-align:left;
            padding-left:10px;
            height:30px;
            margin-bottom:20px;
            color:#8a8a8a;
            font-size: 15px;
            line-height: 30px;
        }
        #creat_account_area #account_box #account_idpass input{
            width:210px;
            height:30px;
            padding:0px;
            margin:0px;
            margin-right:9px;
        }
        #creat_account_area #account_box #account_idpass #wndqhr{
            width:59px;
            height:30px;
            border:none;
            background:#8ec89a;
            color:#fff;
            text-align:center;
            margin:0px;
        }
        #creat_account_area #account_box .term_check_box{
            width:200px;
            height:115px;
            text-align:center;
            font-size:14px;
            color:#8a8a8a;
            float:left;
            margin-top:20px;
            margin-left:7px;
            margin-right:7px;
        }
        #creat_account_area #account_box .term_check_box .term_title{
            text-align:center;
            font-size:18px;
            color:#8a8a8a;
            margin-bottom:10px;
            line-height:22px;
        }
        #creat_account_area #account_box .term_check_box #check_box{
            border:none;
            background:#fff;
        }
        #creat_account_area #account_box #account_email_sendcheck{
            color:#8a8a8a;
            text-align:center;
            padding-top:30px;
            clear:both;
        }
        #creat_account_area #account_box #account_submit{
            width:210px;
            height:35px;
            margin:0px;
            padding:0px;
            border:none;
            background:#47bf7e;
            color:#fff;
            font-size:19px;
            margin-left:100px;
            margin-top:8px;
        }