@charset "utf-8";
#editer_gnv
{
    height:65px;
    border-bottom:1px solid #cdcdcd;
    margin:50px 0px;
    padding:0px 20px;
    position:relative;
}
    #editer_gnv ol 
    {
        width:800px;
        height:65px;
    }
        #editer_gnv ol li
        {
            
            height:65px;
            line-height:65px;
            margin-right:15px;
            float:left;
            color:#353535;
            font-size: 26px;
            letter-spacing: 1px;
        }
        .editer_selected_gnv
        {
            color:#48cfad !important;
        }

    #editer_gnv button 
    {
        position: absolute;
        top: 13px;
        right: 60px;
        width: 110px;
        height: 40px;
        border: none;
        border-radius: 3px;
        background: #48cfad;
        color: #fff;
        font-size: 20px;
    }

#editer_aside
{
    position:absolute;
    left:50px;
}
    #editer_aside ol 
    {
        width:240px;
        border-top:25px solid #737373;
        border-radius: 3px;
        margin-bottom:30px;
    }
        #editer_aside ol li 
        {
            height:50px;
            line-height:50px;
            border:1px solid #e6e6e6;
            margin-bottom:-1px;
            text-align:center;
            padding-left:35px;
            color:#2f2f2f;
            cursor:pointer;
        }
            #editer_aside ol li i {
                position:absolute;
                left: 20px;
                margin-top: 8px;
                font-size: 33px;
                width: 45px;
                color: #646464;
            }
            #upload_file_input
            {
                visibility:hidden;
                position:absolute;
            }


        
    #file_info{
        width: 240px;
        background: #444444;
        margin-top: 40px;
        border-radius: 3px;
        overflow: hidden;
    }
        #file_info #info_header{
            width: 100%;
            height: 23px;
            line-height: 23px;
            
            background: #666666;
            color:#fff;
            font-size:16px;
            text-align: center;
        }

        #file_info #files{
            width: 100%;
            min-height: 118px;
        }

            #files #file_name
            {
                width: 100%;
                height: 30px;
                line-height: 30px;

                background: #444444;
            }

                #file_name p
                {
                    color:#fff;
                    font-size:14px;
                    margin-left: 10px;
                    display:inline;
                }
                
                #file_name p i
                {
                    color:#48cfad;
                    font-size:14px;
                    margin-right:10px;
                }

                #file_name i
                {
                    color:#48cfad;
                    font-size:14px;
                    margin-left:10px;
                    margin-right:10px;
                    display: inline;
                }

            #files ul
            {
                width:100%;
                
                padding: 1px;
                background: #333333;
                font-size:12px;
            }
            #files ul li
            {
                color:#fff;
                margin: 5px 5px 5px 15px;
                border-left: 1px solid #48cfad;
                padding-left:42px;
            }

            #files ul li:last-child
            {
                margin: 5px 5px 5px 11px;
                border: none;
                padding: 0px;
            }

            #files ul li i
            {
                color:#48cfad;
                font-size:11px;
                margin-right:37px;
            }

                #files ul li:hover
                {
                    background:#48cfad;
                }

        #storage
        {
            width: 100%;
            height: 23px;
            line-height: 23px;

            background: #444444;
            text-align: right;

        }
            #storage p
            {
                font-size:14px;
                color:#fff;
                margin-right:10px;
            }




#editer_section 
{
    width:900px;
    position:relative;
    margin-left:700px;
    margin-right:50px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
        border:1px solid #e6e6e6;
        border-radius:3px;

    overflow:hidden;
}
    #editer_section p 
    {
        height:60px;
        line-height:60px;
        background:#c1c1c1;
    }
    #editer_section p input
    {
        background:none;
        border:none;
        margin-left:20px;
        font-size: 35px;
        line-height: 60px;
        padding:0px;
        color:#2e2e2e;
    }
    #editer_section img
    {
        width:818px;
        padding: 30px 40px;
    }

#footer {
    width: 100%;
    height: 200px;
    background: #222;
    margin-top: 140px;
}
