@charset "utf-8";
/*CSS RESET*/
body
{background:#fff;}
body,h1,h2,h3,h4,h5,h6,div,p,ul,ol,dl,li,dt,dd,address,nav,section,aside,header,footer,a,figure
{margin:0px; padding:0px; color:#000;}
li{list-style:none;}
img{border-style:none;}
a{ text-decoration:none; color:#000; margin:0px; padding:0px;}
*{font-family: 'Hind', sans-serif; font-size:1em;}
/*CSS RESET*/

/* main header start */
#main_header
{ width:100%; height:50px; background-color:#000; 
}

h1	/* main logo */
{ position:absolute; left:10px; top:5px;  height:40px;
}

#main_gnb
{ position:relative;  margin:0px auto; width:390px;
}

.bigsub
{ position:relative; background:#111; color:#fff; width:130px; height:50px; line-height:50px;  float:left; text-align:center;
}

.long_text{
	font-size:12px;
}

.sub
{ position:absolute; top:50px; width:100%; background-color:#464646; border-bottom-left-radius:2px; border-bottom-right-radius:2px;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5); display:none;
}


#main_gnb ul li p
{ width:70%; height:30px; line-height:30px; color:#fff; float:left; 
}

#main_gnb ul li i
{ width:30%; height:30px; font-size:16px; line-height:30px; color:#fff; float:left;}


#signin_bt
{ position:absolute; height:50px; top:0px; right:50px;
}

.partition
{ font-size:31px; color:#8e8e8e; float:left; }

#signin_bt .signicon
{ color:#fff; margin-left:10px; float:left; line-height:50px; font-size:14px; 
}

#signin_bt .signin
{ color:#fff; margin:0px 20px; float:right; line-height:50px;}


#lang_select_bt
{ position:absolute; top:0px; right:0px; width:50px; height:50px; right:0px; text-align:center; background-color:#f2974c; 
}

#lang_select_bt ul ul
{ border-bottom-left-radius:2px; border-bottom-right-radius:2px; position:absolute; top:50px;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5); background-color:#f2974c;  padding-top:5px; padding-bottom:5px; display:none;}

.lang_selected 
{ width:50px; height:50px; line-height:50px; font-size:15px; color:#fff; font-weight:bold; letter-spacing:1px; color:#fff;
}


#lang_select_bt ul  ul li
{ width:50px; height:17px; font-size:14px; color:#929292;  cursor:pointer;
}


#main_search_bar
{ width:600px; height:35px; background:#999; margin:0px auto; line-height:35px; border:1px solid #818181; border-radius:10px; margin-top:15px; margin-bottom:15px;
}
#main_search_text
{ margin-left:5px; border:none;
}

#main_search_btn
{ float:right; width:70px; height:35px; border:none; border-top-right-radius:7px; border-bottom-right-radius:7px;
}
/*main header end*/
/* main section start */

#main_figure
{ background:url(CH/img/mein_img.png); width:100%; height:350px; text-align:center;
}
#main_figure h2
{ padding-top:100px; color:#fff; font-size:40px;
}
#main_figure button
{ border:1px solid #fff; width:150px; height:45px; background:none; border-radius:2px; color:#fff; font-size:18px; letter-spacing:4px; margin-top:50px;
}


/* main section end */

/* slide section */
#slide_section
{width:1200px; height:500px; margin:0px auto; position:relative;
}
#slider1,#slider2,#slider3
{ width:1200px; height:400px; background:#d0d; padding:10px;   margin:0px auto; background-color:#737373;  border-radius:10px; position:absolute; display:block;}

#slider1 
{
    z-index:2;
}

.slider_item ul
{border-radius:10px; overflow:hidden;}

.slider_item ul li
{ float:left; width:240px; height:200px;
}
.slider_item ul li img
{ width:240px; height:200px;}
#slide_section #slide_lnb input
{ display:none;}

#slide_lnb
{ margin:0px auto; width:573px; height:70px;}
.la_bt
{ 
	width:190px; height:40px; line-height:40px; display:block; float:left; text-align:center; margin-top:15px; border-radius:2px; color:#fff; margin-left:1px;
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #828282 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#828282)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#828282 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#828282 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#828282 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
}
.over
{
	background: #acacac; /* Old browsers */
	background: -moz-linear-gradient(top,  #acacac 0%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acacac), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #acacac 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #acacac 0%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #acacac 0%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #acacac 0%,#999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}
.clicked
{background:#ffbe54;}
.seemore_bt
{ display:block; margin:0px auto; width:150px; height:30px; line-height:30px; background:#fff; border-radius:2px; color:#2E82FF; text-align:center;
 margin-top:50px;
}
.seemore_bt:hover
{ color:#fff; background:#ec6446;}
/* slide section end */

/* designers section */
#designers_section 
{
    width:1200px; height:260px; 
    margin:0px auto; margin-top:50px;
}
#designers_introduce
{
    width:480px; height:260px; background:#fff; overflow:hidden; border-radius:5px; box-shadow:3px 3px 5px #777; float:left;
}
#designers_subject
{
    width:480px; height:30px; line-height:30px; background:rgba(0,0,0,0.5); text-align:center; 
    position:absolute; color:#fff; border-top-left-radius:5px; border-top-right-radius:5px;
}
#desingers_intro_img 
{
    width:480px; height:180px; background:url(ch/img/thumbnail/thumbnail_02.png);
}
#designers_intro_disc
{
    width:480px; height:80px; overflow:hidden;
}

#designers_intro_disc #desingers_disc_img
{
    width:70px; height:80px;  margin-left:40px;  padding-top:5px; float:left;
}
#designers_intro_disc #desingers_disc_img img 
{
    width:70px; height:70px;  border-radius:50%;
}

#designers_intro_disc #designers_disc_name
{
    width:290px; height:80px; float:left; text-align:center; line-height:23px; padding-top:23px; 
}
#designers_intro_disc #designers_disc_name h3
{
    font-size:30px; letter-spacing:2px; color:#737373; font-weight:200;
}

#designers_intro_disc #designers_disc_name h4
{
     color:#737373; font-weight:200;
}
#designers_disc_inform
{
    width:70px; height:80px; line-height:20px; float:right; padding-right:10px; padding-top:10px;text-align:right; 
}

#designers_disc_inform .fa-envelope-o
{
    font-size:23px; color:#787878; margin-bottom:5px;
}
#designers_disc_inform .fa-heart 
{
    font-size:15px; color:#f15620;margin-right:10px;
}
#designers_disc_inform .fa-eye
{
    font-size:15px; color:#545454;margin-right:10px;
}

.designers_ranking
{
    width:300px; height:100%; background:#bbb; float:right; margin-left:50px; border:1px solid #868686; border-radius:2px; overflow:hidden; padding:-2px 0px;
    box-shadow:3px 3px 5px #777;
}
.designers_ranking > p 
{
    width:100%; height:35px; line-height:35px; background:#868686; text-align:center; color:#fff; font-size:18px
}
.designers_ranking ol > li
{
    width:100%; height:45px;  background:#fff;
}
.designers_ranking ol > li > ul > li
{
    float:left; height:45px; line-height:45px;
}
.designers_number
{
    width:30px;
    text-align:right;
}
.designers_updown
{
    width:30px;
    text-align:center;
}
    .designers_ranking ol li > .fa-caret-up
    {
        color:#ec6446
    }
    .designers_ranking ol li > .fa-caret-down
    {
        color:#009fe3
    }
.designers_photo
{
    width:35px;
    text-align:right;
}
    .designers_ranking ol > li > ul > li img
    {
        width:30px; height:30px; vertical-align:middle;
    }
.designers_name
{
    width:140px; text-align:center;
    font-size:16px; font-weight:500;
}

.designers_gold 
{
    width:17px; height:17px; border:1px solid #464646; background:gold; border-radius:3px; display:inline-block; vertical-align:middle;
}
.designers_silver
{
    width:17px; height:17px; border:1px solid #464646; background:silver; border-radius:3px; display:inline-block; vertical-align:middle;
}
.designers_bronze
{
    width:17px; height:17px; border:1px solid #464646; background:#df9d00; border-radius:3px; display:inline-block; vertical-align:middle;
}
/* designers section */

/* main board */
#main_board 
{
    width:1200px;
    background:#f1f1f1;
    margin:0px auto;
    margin-top:90px;
}
    #main_board input
    {
    }
/* main board */