@charset "utf-8";

.con_main {
    padding-left: 275px !important;
}

#confirm_alert {
    width: 400px;
    height: 200px;
}

#account_section{
    width: 100%;
    text-align: left;
}
    .setting_card{
        width:100%;
        background: #ffffff;
        border:1px solid #dadada;
        margin-bottom:20px;
        padding:15px 20px;
    }
    .setting_card p{
        width:100%;
        margin-bottom:30px;
        font-size:25px;
        color: #444444;
    }
        .setting_card label{
            width: 130px;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin-bottom:20px;
            color:#444444;
        }
        .setting_card input{
            width: 190px;
            height: 29px;
            border:1px solid #999;
            border-radius: 3px;
            padding: 0px 10px;
        }
            .setting_card input:focus{
                border:1px solid #48cfad;
                box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
            }
        .setting_card .fa-times{
            width: 25px;
            height: 25px;
            line-height: 25px;
            background: #ec6446;
            color: #ffffff;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            margin-left: 10px;
        }
        .setting_card .fa-check{
            width: 25px;
            height: 25px;
            line-height: 25px;
            background: #48cfad;
            color: #ffffff;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            margin-left: 10px;
        }
    .form_check{
            color:#ea4126;
            font-size: 12px !important;
            margin-left: 140px;
            margin-top: -16px;
            margin-bottom:0px !important;
            display:none;
            height: 16px;
            line-height: 13px;
        }

    .setting_card #Change_pass{
        width:130px;
        height:30px;
        background:#48cfad;
        border:none;
        border-radius:2px;
        color:#fff;
        font-size:14px;
        margin-left:75px;
        padding:9px;
        cursor:pointer;
        font-weight: 200;
    }
    #location_text{
        width:59px;
        margin-left:10px;
    }
    .language_text{
        width:95px !important;
        margin-right:10px;
    }

    #lang_plus{
        border:none;
        background:none;
        position: absolute;
        margin-top: 7px;
        margin-left: 22px;
        cursor:pointer;
    }
    #lang_plus i{
        font-size:23px;
        color:#6b6b6b;
        vertical-align:middle;
    }
    .lang_minus{
        border:none;
        background:none;
        position: absolute;
        margin-top: 7px;
        margin-left: 25px;
        cursor:pointer;
    }
    .lang_minus i{
        font-size:23px;
        color:#ec6446;
        vertical-align:middle;
    }
    #delete_desc{
        font-size:16px;
        color:#ea4126;
    }
    #confirm_bt {
        border:none;
        display:inline-block;
        background:#ec6446;
        color:#fff;
        border-radius:2px;
        padding:8px 15px;
        margin-bottom:60px;
        font-weight: 200;
        cursor:pointer;
    }
    #submit_bt{
        width:210px;
        height:45px;
        background:#48cfad;
        border:none;
        border-radius:2px;
        color:#fff;
        margin-top:55px;
        margin-left:215px;
        margin-bottom:15px;
        font-size: 20px;
        font-weight: 200;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
        cursor:pointer;
    }
        #submit_bt:hover
        {
            opacity: 0.8;
        }
    #basic_desc{
        width:210px;
        height:260px;

        min-width:210px;
        max-width:210px;
        min-height:29px;
        margin-bottom:10px;
        border-radius: 3px;
        border:1px solid #999;
        resize:none;
    }
        #basic_desc:focus{
            border:1px solid #48cfad;
            box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
        }
    #basic_desc_label{
        vertical-align:top;
    }
    .pubilc_option{
        display:inline-block;
        margin-left:67px;
        position:relative;
    }
    .fa-lock{
        position:absolute;
        z-index:1;
        top:12px;
        left:10px;
        color:#646464;
    }

    .pubilc_option .sod_select.custom.custom{
        width:130px;
        background:#fff;
    }

    .pubilc_option .sod_select.custom .sod_label{
        padding-right:0px;
    }
    .pubilc_option .sod_select.custom .sod_list_wrapper{
        width:130px;
        box-shadow:none;
        z-index:2;
    }
    .pubilc_option  .sod_select.custom.focus{
        box-shadow:none;
    }

    

    .job_option{
        display:inline-block;
        position:relative;
    }
    .job_option .sod_select.custom.custom{
        width:210px;
        background:#fff;
    }
    .job_option .sod_select.custom.focus{
        box-shadow:none;
    }
    .job_option .sod_select.custom.custom{
        padding:12px 10px;
    }
    .job_option .sod_select{
        height:36px;
    }
    .job_option .sod_select.custom .sod_label{
        padding: 0px;
        text-overflow: ellipsis;
        width: 81px;
        display: inline-block;
        margin-left: -5px;
    }
    .job_option .sod_select.custom .sod_list_wrapper{
        width:210px;
        box-shadow:none;
    }




    .location_option{
        display:inline-block;
        position:relative;
    }
    .location_option .sod_select.custom.custom{
        width:121px;
        background:#fff;
    }
    .location_option  .sod_select.custom.focus{
        box-shadow:none;
    }
    .location_option  .sod_select.custom.custom{
        padding:12px 10px;
    }
    .location_option .sod_select{
        height:36px;
    }
    .location_option .sod_select.custom .sod_label{
        padding: 0px;
        text-overflow: ellipsis;
        width: 81px;
        display: inline-block;
        margin-left: -5px;
    }
    .location_option .sod_select.custom .sod_list_wrapper{
        width:214px;
        box-shadow:none;
    }


    .language_option{
        display:inline-block;
        position:relative;
    }
    .language_option .sod_select.custom.custom{
        width:85px;
        background:#fff;
    }
    .language_option  .sod_select.custom.focus{
        box-shadow:none;
    }
    .language_option  .sod_select.custom.custom{
        padding:12px 9px; 
    }
    .language_option .sod_select{
        height:36px;
    }
    .language_option .sod_select.custom .sod_label{
        padding:0px;
    }
    .language_option .sod_select.custom .sod_list_wrapper{
        width:85px;
        box-shadow:none;
    }
    .language_option .sod_select.custom::before{
        right:20px;
    }
    .language_option .sod_select.custom::after{
        right:5px;
    }
    .language_option .sod_label{
        margin-right:17px;
    }
    .language_option .sod_select.custom .sod_option.selected::before{
        display:none;
    }

#file_hide {
    visibility:hidden;
    width:1px;
}
#file_bt {
    width: 130px;
    height: 30px;
    background: #48cfad;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-left: 75px;
    padding: 9px 26px;
    cursor: pointer;
    font-weight: 200;
}
#file_text{
    color:#464646;
    cursor:default;
}
    #file_text:focus{
        border:1px solid #999999;
        box-shadow: none;
    }

#img_preview{
    margin-left:130px;
    margin-bottom:15px;
    display:block;
    overflow:hidden;
}