@charset "utf-8";
#contents{
    position:relative;
    width:100%;
    height:100%;
}

#post_subject_area{
    position:absolute;
    width:100%;
    height:50px;
    background:#222;
}


#work_space
{
    width:100%;
    background:#eeeeee;
    padding:20px 0px;
    text-align: center
}
    .properties_box
    {
        margin:13px;
        text-align: left;
    }
        .work_title
        {
            width:93px;
            font-size:20px;
            color:#444;
            font-weight: 200;
            display: inline-block;
            margin-right:20px;
            margin-left:5px;
        }
        .write_box_com
        {
            width:1090px;
            height:30px;
            border:none;
            border-radius: 3px;
            padding:3px 3px 3px 5px;
        }
            .write_box_com:focus
            {
                border:1px solid #48cfad;
                box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
            }


    #main_work_space
    {
        width:1100px;
        background:#fff;
        border-radius: 3px;
        display: inline-block;
        vertical-align: top;
    }
    .note-editor
    {
        width:1098px;
        border:none;
        border-radius: 3px;
    }
        .note-toolbar
        {
            background:#444;
            height:50px;
            line-height: 50px;
        }
        .note-editor .note-editing-area
        {
            min-height:300px;
        }
        
        .modal
        {
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:5;
            display: none;
            outline: 0;
            overflow: hidden;
        }
            .modal-dialog
            {
                width:600px;
                margin:30px auto;
            }
            .modal-content
            {
                position: relative;
                outline: 0;
            }
                .modal-body
                {
                    position: relative;
                    outline: 0;
                }
                .panel-heading.note-toolbar .dropdown-menu
                {
                    z-index: 2
                }
        a[data-event="formatBlock"] h1
        {
            position:relative;
            left:0px;
            top:0px;
            height:auto;
        }
    








    .tooltip_bt{
        min-width: 70px;
        height: 20px;
        line-height: 20px;

        top:48px;
        left:0px;
        padding:3px;
        
        background:rgba(0,0,0,0.9);
        border-radius: 3px;
        color:#fff;
        font-weight: 200;
        font-size:12px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
        
        z-index: 1;  
        cursor:default;
        display: none;
        position:absolute;
    }



    #file_import_bt
    {
        width:120px;
        height:35px;
        line-height: 35px;
        border-radius: 3px;
        background:#48cfad;
        color:#fff;
        font-size: 17px;
        font-weight: 200;
        display: inline-block;
        text-align:center;
        cursor:pointer;
    }
        #file_import_com
        {
            display:none;
        }
        #file_text_com
        {
            width:300px;
            height:35px;
            background: #ffffff;
            border:none;
            border-radius: 3px;
            color:#aaaaaa;
            font-weight: 200;
            text-overflow:ellipsis;
            margin-left: 10px;
        }

    /*
        #write_tool_box
        {
            width:100%;
            height:60px;
            line-height: 60px;
            background:#444444;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
        }
		.tool_set_com
		{
			display: inline-block;
			border-right: 2px;
			margin-left:3px;
			margin-right:3px;
		}
		.tool_com
		{
			width:35px;
			height:35px;
			line-height: 35px;
			text-align:center;
			background:#666;
			border-radius: 3px;
			display: inline-block;
			margin-left:1px;
			margin-right:1px;
			box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);
            position:relative;
		}
			.tool_com i
			{
				color:#fff;
				font-size:17px;
			}*/
        
    /*
	#font_prop_com
	{
		margin-left:5px;
	}
		#font_prop_com .tool_com
		{
			width:auto;
			height:auto;
			padding:0px;
		}
			#font_fam_com
			{
				width:150px;
				margin-left: 3px;
				margin-right: 3px;
			}
			#font_size_com
			{
				width:150px;
				margin-left: 3px;
				margin-right: 3px;
			}
			
			#font_prop_com .sod_select.custom.custom
			{
				background:#666666;
				color:#fff;
				border: none;
			}

	        #font_prop_com .sod_select.custom .sod_list_wrapper
	        {
	            background:#666666;
	            color:#fff;
	            border:none;
	        }
	        #font_prop_com .sod_select.custom.focus
	        {
	            box-shadow:none;
	        }
	        #font_prop_com .sod_select.custom .sod_option
	        {
	        	border-bottom:1px solid #444444;
	        }
			#font_prop_com .sod_select.custom .sod_option.active
			{
				background:#555555;
				color:#ffffff;
			}

		#insert_text_window
		{
			width:1058px;
			height:390px;
			border:none;
			overflow-y:scroll;
			padding:20px;
			resize:none;
		}
		#insert_text_window:focus
        {
            border:1px solid #48cfad;
            box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
        }*/





