@charset "utf-8";
#contents{
    position:relative;
}

#post_subject_area{
    position:absolute;
    width:100%;
    background:#222;
}


#post_subject {
    font-size: 22px;
    color: #fff;
    line-height: 53px;
    height: 50px;
    font-weight: 200;
    text-align: center;
}

#post_writer_box {
    width: 100%;
    height: 30px;
    line-height:30px;
    background: #e6e6e6;
    text-align: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
}
    #post_writer_box_inner{
        width: 100%;
        min-width:1200px;
        position:relative;
        margin:0px auto;
        overflow:hidden;
    }
        #post_writer_box .post_writer_date {
            color: #777777;
            font-size: 14px;
        }
        #post_writer_box ul{
            position:absolute;
            right:0px;
            top:0px;
            margin-right: 5px;
            
        }
            #post_writer_box ul li {
                float:left;
                margin-left:10px;
                color:#777777;
            }
            #post_writer_box ul li i{
                margin-right:3px;
                color:#777777;
            }

#post_box {
    min-width: 1200px;
    width: 100%;
    margin: 0px auto;
    position:relative;
}

#post_section {
    width: 100%;
    padding-right:310px;
}

#post_contents {
    width: 100%;
    min-width: 960px;
    margin: 0px auto;
    border: 1px solid #cccccc;
    padding: 30px 330px 20px 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    #post_contents p {
        font-size:18px;
        font-weight: 200;
    }



#share_box {
    display: block;
    height: 30px;
    text-align: center;
}

    #share_box button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 50%;
    }
    #share_box i {
        color: #fff;
    }

    #share_box #share_face {
        background: #3b5998;
    }

        #share_box #share_face i {
            font-size: 20px;
        }

    #share_box #share_google {
        background: #ec6446;
        vertical-align: top;
    }

        #share_box #share_google i {
            font-size: 20px;
        }

  
#post_edit_box {
    display: block;
    text-align: right;
    margin-top:10px;
}
    #post_edit_box button {
        width:109px;
        height:30px;
        border:none;
        border-radius:3px;
        margin-left:10px;
        color:#fff;
        letter-spacing:0.5px;
        font-weight: 200;
        font-size: 15px;
        background: #666666;
    }
    #post_edit_box button:hover {
        background:#48cfad;
    }


#comment_box{
    position: relative;
    padding-right: 310px;
}
#comment_box #comment_writer{
    text-align: center;
}

#post_banner {
    position: absolute;
    width: 310px;
    height: 100%;
    right: 0px;

    border:1px solid #cccccc;
    background:#ffffff;  
    text-align:center;

    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

#profile_pic
{
    width:100%;
    margin-top: 15px;
}
    #img_mask
    {
        width:80px;
        height: 80px;
        margin: 0px auto;
        border-radius: 50%;
        overflow: hidden;
    }
        #img_mask img {
            width: 100%;
        }
    #post_banner h4{
        font-size:24px;
        margin-top:3px;
        color:#555555;
        font-weight: 200;
    }
    #post_banner h5{
        font-size:15px;
        font-weight: 200;
        color:#555555;
        text-align: center;
    }
    #post_banner h6{
        font-size:15px;
        font-weight: 200;
        color:#555555;
        text-align: center;
    }
        #post_banner h6 i{
            color:#777777;
            font-size: 22px;
            margin-right: 5px;
            margin-top: -5px;
            margin-left: -5px;
        }
        #post_banner #designer_follow{
            width:40px;
            height:40px;
            border:none;
            border-radius:50%;
            background:#48cfad;
            margin-top:15px;
        }
            #post_banner #designer_follow i {
                font-size:22px;
                color:#fff;
                margin-left:3px;
            }

