@charset "utf-8";


#forum_option_box {
    width: 1200px;
    height: 65px;
    margin: 0px auto;
}

#write_bt {
    width: 120px;
    height: 35px;
    line-height: 36px;
    margin-top: 8px;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    float: right;
    font-weight: 200;
    border: 1px solid #ffffff;
    background: none;
    text-align: center;
    cursor:pointer;
}

#main_wrap{
    background: #fefefe;
}

/*main header end*/
/* main section end */
