@charset "utf-8";


#forum_option_box {
    width: 1200px;
    height: 65px;
    margin: 0px auto;
}

#forum_search_box {
    width: 350px;
    height: 35px;
    background: #fff;
    float: left;
    line-height: 35px;
    border: 1px solid #818181;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.select_box {
    float: left;
    color: #999;
    font-weight: 300;
    border-radius: 5px;
}

    .select_box .sod_select {
        border-radius: 10px;
        width: 105px;
    }

    .select_box .sod_list_wrapper {
        width: 97px;
        margin: 0px;
        border-radius: 5px;
        margin-top: 2px;
        border: 1px solid #a1a1a1;
    }

#forum_search_text {
    border: none;
    color: #999;
    width: 203px;
}

#forum_search_box .select_box {
    float: right;
    color: #999;
    font-weight: 300;
    float: left;
}

#forum_search_btn {
    float: right;
    position: relative;
    width: 40px;
    height: 35px;
    border: none;
    background: #48cfad;
}

    #forum_search_btn .fa-search {
        color: #fff;
        font-size: 17px;
        vertical-align: middle;
        margin-top: -7px;
        -webkit-text-stroke: 1px #48cfad;
    }

#write_bt {
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 17px;
    float: right;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    font-weight: 200;
    background: #48cfad;
    text-align: center;
    cursor:pointer;
}
/*main header end*/

/* main board */
#main_board {
    width: 1200px;
    margin: 0px auto;
    clear: both;
}

.tab_item table {
    width: 1200px;
    height: 365px;
    vertical-align: middle;
}

    .tab_item table thead {
        background: #737373;
        color: #fff;
        text-align: center;
    }

    .tab_item table th {
        color: #fff;
        font-size: 17px;
        font-weight: 200;
    }

    .tab_item table tr {
        height: 43px;
        border-bottom: 1px solid #dadada;
    }

.table_body tr:hover {
    background: #eeeeee;
}

.table_blank {
    width: 60px;
}

.tab_item table .fa-circle {
    color: #42a6ed;
    font-size: 10px;
    vertical-align: middle;
    margin-left: 50px;
}

.table_number {
    width: 110px;
    text-align: center;
    color: #545454;
}

.table_subject {
    padding-left: 20px;
    cursor:pointer;
    color:#333333;
}
    .table_subject:hover
    {
        text-decoration: underline;
    }

.table_writer {
    width: 130px;
    text-align: center;
    color: #545454;
    cursor:pointer;
}
    .table_writer:hover
        {
            text-decoration: underline;
        }

.table_like {
    width: 70px;
    text-align: center;
    color: #488ccb;
}

.fa-heart {
    font-size: 12px;
    color: #f32b64;
}

.table_view {
    width: 70px;
    text-align: center;
    color: #488ccb;
}

.fa-eye {
    font-size: 15px;
}

.table_date {
    width: 150px;
    text-align: center;
    color: #545454;
}

#main_board hr {
    color: #fff;
}

/* main board */
/* main section end */
