@charset "utf-8";


#forum_option_box {
    width: 1200px;
    height: 65px;
    margin: 0px auto;
}

#write_bt {
    width: 120px;
    height: 34px;
    line-height: 36px;
    margin: 7px 10px 0px 10px;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    float: right;
    font-weight: 200;
    border: 1px solid #ffffff;
    background: none;
    text-align: center;
    cursor:pointer;
}
    #write_bt:hover {
        border: 1px solid #87ead1;
        color: #87ead1;
    }

#main_wrap{
    background: #fefefe;
}

/*main header end*/
/* main section end */
