@charset "utf-8";
body{
    background:#333333;
}
#main_search_bar
{
    display:none !important;
}
#editor_gnv
{
    width:100%;
    min-width: 1200px;
    height:65px;
    margin-top:50px;
    position:fixed;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    background:#666666;
    z-index: 1;
}
    #editor_gnv ol 
    {
        display: inline-block;
        height:65px;
        margin-left:20px;
    }
        #editor_gnv ol li
        {       
            height:65px;
            line-height:65px;
            margin-right:15px;
            float:left;
            color:#ffffff;
            font-size: 26px;
            font-weight: 200;
            letter-spacing: 1px;
        }
        .editor_selected_gnv
        {
            color:#48cfad !important;
            font-weight: 400 !important;
        }

    .next_bt 
    {
        position: absolute;
        top: 13px;
        right: 15px;
        width: 136px;
        height: 40px;
        border: none;
        border-radius: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
        background: #48cfad;
        color: #fff;
        font-weight: 200;
        font-size: 20px;
    }
#editor_inbody
{
    width:100%;
    position:relative;
    background: #333333;
    top:115px;
}


#editor_body
{
    max-width:1600px;
    min-width:580px;
    width:100%;
    margin:0px auto;
    text-align:center;
    background:#333333;
    padding: 50px 0px;
    display: block;
}




#editor_aside
{
    width:100%;
    height: 55px;
    top:115px;
    padding-top:8px;
    background:#444444;
    position: fixed;
    box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.3);
    z-index:1;
}
    #editor_aside ol 
    {
        display: inline-block;
        margin-left:20px;
    }
        
        #editor_aside ol li 
        {
            width:45px;
            height:45px;
            line-height:50px;
            border-radius:3px;
            background: #555555;
            box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);
            
            margin:0px 2px;
            text-align:center;
            vertical-align:middle;
            
            color:#333333;
            cursor:pointer;
            font-weight: 200;
            position:relative;
            display:inline-block;
        }
            #editor_aside ol li i {
                margin-top: 8px;
                font-size: 20px;
                width: 45px;
                color: #333333;
            }
            #upload_file_input
            {
                visibility:hidden;
                position:absolute;
            }
            #preview_upload_input
            {
                visibility:hidden;
                position:absolute;
            }
            .img_crop_notallow 
            {
                background:#ddd !important;
                color:#2f2f2f !important;
                cursor:not-allowed !important;
            }
            .img_crop_notallow  i
            {
                color:#646464 !important;
            }

            #body_color_view
            {
                width:30px;
                height:30px;
                border-radius: 3px;
                background:#ffffff;
                margin:0px auto;
                margin-top: 8px;
            }

        
.tooltip_bt{
    min-width: 140px;
    height: 30px;
    line-height: 30px;

    top:58px;
    padding:3px;
    
    background:rgba(0,0,0,0.7);
    border-radius: 3px;
    color:#fff;
    font-weight: 200;
    font-size:14px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    
    z-index: 1;  
    cursor:default;
    display: none;
}



    #editor_aside #file_info{
        width: 246px; 
        border-radius: 3px;
        overflow: hidden;
        text-align:left;
        box-shadow:0px 2px 2px 0px rgba(0,0,0,0.2);
        display: inline-block;
        vertical-align: middle !important;
        border:1px solid #222222;
        right: 13px !important;
        margin:0px !important;
        position:absolute !important;
    }
        #file_info #info_header{
            width: 100%;
            height: 23px;
            line-height: 23px;
            
            background: #666666;
            color:#fff;
            font-size:16px;
            text-align: center;
            padding-left: 43px;
            font-weight:200;
            cursor:pointer;
        }
            #info_toggle{
                color:#ffffff;
                padding-left: 70px;
            }

        #file_info #files{
            width: 100%;
            display:none;
            background: #555555;
        }

            #files #file_name
            {
                width: 100%;
                height: 30px;
                line-height: 30px;
                cursor: default;
                background: #555555;
                border-left: 1px solid #48cfad;
                margin-left: 16px;
            }

                #file_name p
                {
                    color:#fff;
                    font-size:14px;
                    margin-left: 10px;
                    display:inline;
                }
                
                #file_name p i
                {
                    color:#48cfad;
                    font-size:14px;
                    margin-right:10px;
                }

                #file_name i
                {
                    color:#48cfad;
                    font-size:14px;
                    margin-left:-6px;
                    margin-right:10px;
                    display: inline;
                    background:#555555;
                    border-top:9px solid #555555;
                }

            #files ul
            {
                width:100%;             
                padding: 0px 0px 0px 1px;
                background: #333333;
                font-size:12px;
                overflow:hidden;
                cursor: default;
            }
            #files ul li
            {
                color:#fff;
                margin: 0px 5px 0px 15px;
                border-left: 1px solid #48cfad;
                padding: 3px 0px 3px 42px;
                position: relative;
            }

            #files ul li:last-child
            {
                margin-left:1;
                border-left:1px solid #48cfad;
            }
                #files ul li:last-child .fa-circle
                {
                    width:5px;
                    height:16px;
                    position:absolute;
                    left:-5px;
                    top:6px;
                    background:#333;
                }

            #files ul li i
            {
                color:#48cfad;
                font-size:11px;
                margin-right:37px;
            }

                #files ul li:hover
                    {
                        background:rgba(72,207,173,0.8);/*#48cfad*/
                    }


        #storage
        {
            width: 100%;
            height: 23px;
            line-height: 23px;

            background: #555555;
            text-align: right;

        }
            #storage p
            {
                font-size:14px;
                color:#fff;
                margin-right:10px;
                font-weight: 200;
            }



#editor_section 
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    margin:50px;

    max-width:1100px;
    min-width:630px;
    
}
    #editor_section p 
    {
        height:80px;
        line-height:70px;
        background:#444444;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #editor_section p input
    {
        background:none;
        border:none;
        border-radius: 5px;
        margin: 5px 30px 5px 20px;
        font-size: 35px;
        font-weight: 200;
        line-height: 60px;
        padding: 5px;
        color: #ffffff;
        float: left;
    }
        #editor_section p input:hover
        {
            background:#666666;
        }
        #editor_section p input:focus
        {
            background:#666666
        }

    #editor_preview_box
    {
        max-width:1100px;
        min-width:630px;
        min-height: 120px;
        padding: 30px 40px;
        background:#ffffff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #editor_section > iframe,img,span
    {
       max-width:1100px;
    }
        .preview_img #contents_div img
        {
            width:100% !important;
        }

    .text_editor
    {
        position:relative;
        padding:25px 0px;
        min-height: 110px;
        cursor:move;   
    }

    .contents_div
    {
        display:inline-block;
        position:relative;
        border:1px solid #fff;
        background:rgba(255,255,255,0.5);
    }
    .text_editor > .contents_div
    {
        border-radius: 5px;
        padding:10px;
    }

    /* selector */
    .text_editor .select_box
    {
        float: none !important;
        display: inline-block;
        margin-right:7px;
    }
    .text_editor .select_box .sod_select
    {
        background:#444;
        color:#fff;
        width: 53px;
        height: 23px;
        padding-top: 3px;
        padding-bottom:0px;
        border-radius:3px;
    }
        .text_editor .select_box .sod_label 
        {
            margin-right: 11px;
            font-weight: 200;
        }
        .text_editor .select_box .sod_select::before, .sod_select::after
        {
            right: 5px;
            top: 7px;
            font-size: 10px;
        }
        .text_editor .select_box .sod_select .sod_list_wrapper
        {
            width: 53px;
            margin: -2px 0px 0px 0px;
            background: #333;
            border:none;
            color:#fff;
        }
        .text_editor .select_box .sod_select .sod_option
        {
            height: 22px;
            padding: 3px 5px;
            font-weight: 200;
        }
            .text_editor .select_box .sod_select .sod_option.selected::before 
            {
                display:none;
            }
            .sod_select .sod_option.selected
            {
                color:#48cfad;
            }
            .sod_select .sod_option.active
            {
                color:#444444;
                font-weight: 400 !important;
            }
    /* selector */
    .editor_body_text
    {
        border:none;
        border-radius: 3px;
        background: none;
        width:330px;
        max-width: 965px;
        min-width: 330px;
        height: 17px;
        max-height:300px;
        min-height: 30px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        display: block;
        margin: 10px auto;
        font-weight:200;
        resize:none;
    }
        .editor_body_text:focus
        {
            border:1px solid #48cfad;
            box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
            resize:both;
        }

    .con_move_bt,.con_delete_bt
    {
        width:25px;
        height:25px;
        line-height: 25px;
        border-radius:50%;
        border:none;
        vertical-align:middle;
        text-align:center;
        color:#fff;
        padding:0px;
        background:#777777;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);

        position:absolute;
        top:-13px;
        right:-12px;
        
        display:none;
    }
        .con_move_bt i,.con_delete_bt i
        {
            -webkit-text-stroke:1px #777777;
        }
    .con_move_bt 
    {
        right:28px;
    }
    .textarea_editor
    {
        text-align:right;
        display:none;
    }
    .textarea_editor button
    {
        border: medium none;
        background: #444 none repeat scroll 0% 0%;
        color: #FFF;
        border-radius: 3px;
        vertical-align: middle;
        font-size: 14px;
        width: 25px;
        height: 23px;
        padding: 0px;
        margin: 0px 1px;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
    }
    .color_picker
    {
        display: inline-block;
        height: 15px;
        margin: 0px 7px;
        position:relative;
    }
        .color_picker .selected_color
        {
            width: 15px;
            height: 15px;
            background: #000 none repeat scroll 0% 0%;
            border-radius: 3px;
            vertical-align: middle;
            border: 4px solid #ccc;
            cursor:pointer;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
        }
        .color_picker ul
        {
            position:absolute;
            top: 28px;
            background: #333;
            width: 185px;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
            display:none;
            z-index: 2;
            cursor:default;
        }
            .color_picker ul li
            {
                width: 15px !important;
                height:15px !important;
                border:1px solid #fff;
                border-radius:50% !important;
                text-indent:9999px !important;
                float:left;
                margin:3px !important;
                cursor:pointer !important;
            }

            .preview_img 
            {
                background:#ffffff;
                border: 1px solid #ffffff;
            }


#footer {
    width: 100%;
    height: 200px;
    background: #222;
    margin-top:0px !important;
    display:none;
}



/* embed pop up */
#embed_popup 
{
    position:fixed;
    display:none;
    top:50%;
    left:50%;
    width:540px;
    height:225px;
    margin-left:-270px;
    margin-top:-113px;
    background:#fff;
    z-index:5;
    border-radius:3px;
}
    #embed_popup p 
    {
        margin-top:5px;
        margin-left:15px;
        font-size:25px;
    }
    #embed_popup textarea 
    {
        width:490px;
        max-width:490px;
        min-width:490px;
        height:95px;
        max-height:95px;
        min-height:95px;

        margin-left:25px;
        margin-top:15px;
    }
        #embed_popup textarea:focus
        {
            border:1px solid #48cfad;
            box-shadow: 0px 0px 5px rgba(81, 203, 238, 1); 
        }
    .mic_next_bt,.cancel_bt
    {
        width:85px;
        height:35px;
        border:none;
        border-radius:1px;
        padding:0px;
        margin-top:20px;
    }
    .mic_next_bt 
    {
        color:#fff;
        background:#48cfad;
        margin-left:190px;
        border-radius: 3px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    }
    .cancel_bt 
    {
        color:#ec6446;
        background:#fff;
        border: 1px solid #fff;
    }

    .embed_contents
    {
        position:relative;
        cursor:move;
        padding:30px;
        background:rgba(255,255,255,0.5);
        border-radius: 3px;
    }
/* embed pop up */


/* Thumbnail start*/
#popup_wrap
{
    width:100%;
    text-align: center;
}

#next_pop_body
{
    width:auto;
    min-width:655px;
    height: 500px;
    top:15%;
    text-align: center;

    background: #fff;
    border-radius: 3px;

    position:absolute;
    z-index:5;
    display:none;
}
    #tnail_header
    {
        display: block;
        position:relative;
        width:635px;
        padding:5px 0px 0px 20px;
        margin-bottom:10px;
        margin-top: 10px;
        text-align: left;
        font-size:25px;
        color:#444;
    }
    
    #work_space
    {
        margin:0px auto;
        display: inline-block;
        left:50%;
    }
    #tnail_preview
    {
        background:#fafafa;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        margin-right:15px;
    }
        .contents_card
        {
            margin:0px;
            text-align: left;
        }
    #tnail_work
    {
        width:250px;
        height:330px;
        display: inline-block;
        margin: 20px;
        margin-left:15px;
        text-align: right;
    }
        #tnail_work #work_inbody
        {
            width:250px;
            height:300px;
            position:relative;
            background: #fafafa;
            box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3)
        }
            #work_inbody img
            {
                width:100%;
                vertical-align:middle;
            }
        #change_img_bt
        {
            width:50px;
            color:#488ccb;
            font-size:15px;
            font-weight:200;
            cursor:pointer;
        }    
        #change_img_real
        {
            width:0px;
            height:0px;
            border:none;
        }
    .button_pop
    {
        text-align: center;
        padding:5px;
    }
        #call_setting
        {
            width:85px;
            height:35px;
            
            border:none;
            border-radius:3px;
            
            padding:0px;
            margin-top:20px;
            margin-left:7px;
            position:relative;
            top:0px;
            right:0px;

            color:#fff;
            background:#48cfad;
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
            font-size:1em;
        }
/* Thumbnail end*/
/* editor setting start*/

#setting_header
{
    display: block;
    position:relative;
    width:635px;
    padding:5px 0px 0px 20px;
    margin-bottom:10px;
    margin-top: 10px;
    text-align: left;
    font-size:25px;
    color:#444;
}
#total_set
{
    padding:5px;
    height:360px;
    text-align: left;
}
    #left_set
    {
        width:480px;
        height:330px;
        display: inline-block;
        margin: 20px;
        margin-right:10px;
        background: #eeeeee;
        border-radius: 5px;
        vertical-align: top;
        padding:10px;
    }
        #cate_editor
        {

        }
        #tag_editor
        {

        }
        #des_editor
        {

        }
            #setting_des_text
            {
                width:470px;
                height:100px;
                border:none;
                border-radius: 3px;
                padding:5px;
                resize:none;
            }
                #setting_des_text:focus
                {
                    border:1px solid #48cfad;
                    box-shadow: 0px 0px 5px rgba(81, 203, 238, 1); 
                }
    #right_set
    {
        width:480px;
        height:330px;
        display: inline-block;
        margin: 20px;
        margin-left:10px;
        background: #eeeeee;
        border-radius: 5px;
        padding:10px;
    }
        #price_editor
        {

        }
            #price_editor .sod_select.custom.custom{
                width:170px;
                background:#fff;
            }

            #price_editor .sod_select.custom .sod_list_wrapper{
                width:170px;
                box-shadow:none;
                z-index:2;
            }
            #price_editor .sod_select.custom .sod_label{
                padding:0px;
            }
            #price_editor .sod_select.custom.focus{
                box-shadow:none;
            }
            #price_input
            {
                width:200px;
                height:31px;
                border-radius: 3px;
                border:none;
                margin-left:10px;
            }
                #price_input:focus
                {
                    border:1px solid #48cfad;
                    box-shadow: 0px 0px 5px rgba(81, 203, 238, 1); 
                }
                #price_input[disabled]
                {
                    background:#aaaaaa;
                    cursor:not-allowed;
                }
        #copyright_editor
        {

        }




.setting_title
{
    font-size:20px;
    color:#444;
    font-weight: 200;
    margin:6px 0px;
}
.set_con
{
    width:470px;
    height:35px;
    background:#fff;
    border-radius: 3px;
    padding:5px;
    margin:6px 0px;
}

#upload_final
{
    width:85px;
    height:35px;
    
    border:none;
    border-radius:3px;
    
    position:relative;
    top:0px;
    right:0px;
    padding:0px;
    margin-top:20px;
    margin-left:7px;
    
    color:#fff;
    font-size:1em;
    font-weight: 200;
    background:#48cfad;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
      
}
/* editor setting end*/


/*spectrum color picker*/
.sp-container{/*-----------parent-----------*/
    background-color: #444444 !important;
    border: solid 1px #555555 !important;
    border-radius: 4px !important;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) !important;
}
.sp-picker-container{
    border: solid 1px #555555 !important;
    border-radius: 4px !important;
}

.sp-replacer{/* Replacer (the little preview div that shows up instead of the <input>) */
    border: none;
    background: none;
    color: #eee !important;
    vertical-align: middle !important;
}
.sp-replacer:hover, .sp-replacer.sp-active{
    color: #fff !important;
}
.sp-replacer.sp-disabled{
    border-color: silver !important;
    color: silver !important;
}
.sp-preview{
    border: solid 1px #999 !important;
    border-radius: 3px;
    margin-right: 0px !important;
    margin:0px auto !important;
}
.sp-input{/*--input window property in color picker--*/
    background:#ffffff !important;
    outline:none !important;
}
.sp-cancel{
    color: #ec6446 !important;
    font-size:14px !important;
    display: inline-block !important;
    cursor: pointer !important;
}
.sp-choose{
    width: 70px !important;
    height: 27px !important;
    line-height: 27px !important;
    display: inline-block !important;
    cursor: pointer !important;

    margin-top: 7px !important;
    margin-left: 5px !important;

    border:none !important;
    border-radius: 3px !important;
    background:#48cfad !important;

    text-align: center !important;
    font-size:15px !important;
    color:#fff !important;
}
    .sp-choose:hover{
        opacity: 0.7;
    }

.sp-alpha-handle{
    border-radius: 3px !important;
}