@charset "utf-8";

#insight_box
{
    width:100%;
    max-width:1600px;
    min-width:1200px;
    position: relative;
    margin:0px auto;
    margin-top:50px;
    margin-bottom:50px;
}

#graph_ul
{
    width:100%;
    margin:0px auto;
    text-align: center;
}

.graph_box
{
    width:900px;
    height:200px;
    position: relative;
    display: block;
    margin:20px auto;
    border:1px solid #333;
    border-radius: 3px;
}
    .graph_title
    {
        width:140px;
        height: 100%;
        line-height: 40px;
        background: rgba(0,0,0,0.7);
        text-align: center;
        float: left;
    }
        .graph_title i
        {
            width:70px;
            height:70px;
            line-height: 70px;
            display:block;
            margin:0px auto;
            margin-top: 50px;
            border-radius: 50%;
            color:#ffffff;
            font-size:45px;
            font-weight: 200;

        }
            #upload_icon
            {
                background: #48cfad;
                -webkit-text-stroke:1px #48cfad;
            }
            #down_icon
            {
                background: #ffbe54;
                -webkit-text-stroke:1px #ffbe54;
            }
            #like_icon
            {
                background: #488ccb;
                -webkit-text-stroke:1px #488ccb;
                font-size:40px;
                line-height:77px;
            }
        .graph_title_text
        {
            display:block;
            color:#ffffff;
            font-size:20px;
            font-weight: 200;
        }
    

    #graph1,#graph2,#graph3
    {
        display:block;
    }

        .axis path
        {
            fill: none;
            stroke: #555555;
            shape-rendering: cripsEdges;
        }
        .axis text
        {
            font-family: Lato;
            font-size: 13px;
            display:none;
        }


#tooltip
{
    width:150px;
    height:42px;
    background:rgba(0,0,0,0.8);

    border: 1px solid #000000;
    border-radius: 5px;
    padding:10px;

    position: absolute;
    display: none;
    overflow:hidden;

    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
}
    .value_text
    {
        color:#ffffff;
        font-size:17px;
        font-weight: 200;
        text-align: center;
    }


/* main section end */
