@charset "utf-8";
#footer {
    margin-top: 0;
}

#insight_box {
    width:100%;
    min-width:1200px;
    position: relative;
}
.chart_wrap {
    padding: 2%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .chart_title {
        text-align: left;
        margin: 20px;
    }
        .chart_title i {
            color: #ffffff;
            margin-right: 10px;
            font-size: 22px;
        }
        .chart_title span {
            color: #ffffff;
            font-weight: 200;
            font-size: 30px;
        }


    #graph1 {
        background: #282828; 
    }
/* main section end */
