@charset "utf-8";

#personal_view {
	width: 100%;
	position: relative;
}


.con_aside {
	width: 250px;
	float: left;
	border-right: 1px solid #222222;
	border-left: none;
}
	#user_information {
		width: 100%;
		background: #282828;
		display: block;
		position:  relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#userinfo_main {
		padding: 20px 5px;
	}
		#user_pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
		}
			#user_pic img {
				width: 100%;
			}
		#userinfo_main h4 {
			line-height: 40px;
			display: inline-block;
			font-size: 22px;
			color: #48cfad;
			margin-left: 10px;
			vertical-align: top;
		}
		#userinfo_main h5 {
			margin-top: 10px;
			padding: 5px;
			font-size: 15px;
			font-weight: 200;
			color: #aaaaaa;
			text-align: left;
			word-break: break-all;
		}

	#subnav {

	}
	    #personal_aside li {
	        width: 100%;
	        height: 45px;
	        line-height: 45px;
	        font-weight: 200;
	        color: #aaaaaa;
	        cursor: pointer;
	        text-align: left;
	        padding-left: 50px;
	        box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    #personal_aside li:hover{
	        background:#444444;
	    }
	    .selected_subnav{
	        border-left: 5px solid #48cfad !important;
	        font-weight: 400;
	        color:#48cfad !important;
	        padding-left: 43px !important;
	        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	    }
.con_main {
	padding-right: 0;
	padding-left: 250px;
}
/*------------dash board start------------------*/
.con_main {
	background: #dddddd;
}
#dashboard_wrap {
	width:100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dash_section {
	width: 100%;
	max-width: 1200px;
	background: #ffffff;
	position: relative;
	margin: 25px 0px;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dash_header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eeeeee;
}
	.dash_header h4 {
		float: left;
		display: inline-block;
		padding-left: 10px;
		font-weight: 200;
		font-size: 22px;
		color: #444444;
	}
	.dash_header i {
		width: 50px;
		height: 50px;
		line-height: 50px;
		float: right;
		font-size: 25px;
		color: #444444;
		cursor: pointer;
	}
		.dash_header i:hover {
			background: #f3f3f3;
		}
.dash_body {
	min-height: 150px;
	position: relative;
}
	.dash_body_sector {
		width: 25%;
		display: inline-block;
		position: relative;
		height: 150px;
		border-right: 1px solid #eeeeee;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		float: left;
	}
	.x2 {
		width: 50%;
	}
		.x2_inner {
			height: 75px;
			border-bottom: 1px solid #eeeeee;
		}
			.x2_inner:last-child {
				border-bottom: none;
			}
		.dash_body_title {
			font-size: 15px;
			color: #444444;
			text-align: left;
			font-weight: 200;
			padding : 5px 0px 0px 10px;
		}
		.dash_body_content {
			line-height: 120px;
			color: #444444;
			font-size: 32px;
			text-align: center;
		}
			.x2_inner .dash_body_content {
				line-height: 40px;
				padding-left: 15px;
				color: #444444;
				font-size: 28px;
				text-align: left;
			}
		#user_language .dash_body_content {
			font-size: 25px;
			line-height: 40px;
			margin-top: 20px;
		}

.history_wrap {
	width: 100%;
	padding-right: 160px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
	.history_list {
		text-align: left;
	}

		.history_date {
			text-align: right;
			display: inline-block;
			width: 140px;		
			border-right: 1px solid #eeeeee;
			font-weight: 200;
			font-size: 15px;
			color: #aaaaaa;
			padding: 10px 0px;
			padding-right: 10px;
		}

		.history_kind {
			text-align: center;
			width: 40px;
			display: inline-block;
			padding: 10px 0px;
		}
			.history_kind .fa-circle {
				font-size: 14px;
			}
			#work_expierence .fa-circle {
				color: #48cfad;

			}
			#studied .fa-circle {
				color: #6eabe3;
			}
			#contest .fa-circle {
				color: #ffbe54;
			}
		.history_content {
			display: inline-block;
			color: #444444;
			font-weight: 200;
			font-size: 16px;
			padding: 10px 0px;
		}
#history_desc {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;
	height: 100%;
	border-left: 1px solid #eeeeee;
	text-align: left;
	padding: 10px 0px 0px 10px;
}
	.history_desc_list {
		font-size: 14px;
		color: #aaaaaa;
		margin: 3px 0px;
	}
		.history_desc_list .fa-circle {
			font-size: 14px;
			margin-right: 5px;
		}
		#work_desc .fa-circle {
			color: #48cfad;
		}
		#studied_desc .fa-circle {
			color: #6eabe3;
		}
		#contest_desc .fa-circle {
			color: #ffbe54;
		}
		.history_desc_list span {
			font-weight: 200;
		}
.insight_total .dash_body_content {
	font-size: 50px;
}

.clock_wrap {
	margin-top: 25px;
}
	.ampm {
		display: inline-block;
		font-weight: 200;
		color: #48cfad;
	}
	.clock {
		display: inline-block;
		font-size: 50px;
		font-weight: 200;
	}
		#userclock {
			color: #48cfad;
		}
		#localclock {
			color: #48cfad;
		}
	.colon {
		font-weight: 200;
	}
	.time_location {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 10px 0px 0px;
		font-size: 15px;
		font-weight: 200;
		color: #48cfad;
	}
		#user_location {

		}
		#local-location {

		}








