@charset "utf-8";

#personal_view {
	width: 100%;
	position: relative;
}


.con_aside {
	width: 250px;
	float: left;
	border-right: 1px solid #222222;
	border-left: none;
}
	#user_information {
		width: 100%;
		background: #282828;
		display: block;
		position:  relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#userinfo_main {
		padding: 20px 5px;
	}
		#user_pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
		}
			#user_pic img {
				width: 100%;
			}
		#userinfo_main h4 {
			line-height: 40px;
			display: inline-block;
			font-size: 22px;
			color: #48cfad;
			margin-left: 10px;
			vertical-align: top;
		}
		#userinfo_main h5 {
			margin-top: 10px;
			padding: 5px;
			font-size: 15px;
			font-weight: 200;
			color: #aaaaaa;
			text-align: left;
			word-break: break-all;
		}


	#subnav {

	}
	    #personal_aside li {
	        width: 100%;
	        height: 45px;
	        line-height: 45px;
	        font-weight: 200;
	        color: #aaaaaa;
	        cursor: pointer;
	        text-align: left;
	        padding-left: 50px;
	        box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    #personal_aside li:hover{
	        background:#444444;
	    }
	    .selected_subnav{
	        border-left: 5px solid #48cfad !important;
	        font-weight: 400;
	        color:#48cfad !important;
	        padding-left: 43px !important;
	        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	    }
.con_main {
	padding-right: 0;
	padding-left: 250px;
}
/*------------dash board start------------------*/
#dashboard_wrap {
	width:100%;
    max-width: 1160px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dash_card {
	display: inline-block;
	position:relative;
	vertical-align: top;
	overflow: hidden;
    width:220px;
    height:260px;
    background:#fff;
    border-radius:3px;
    margin: 15px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
.dash_card_long {
	width: 452px;
	overflow: hidden;
}
.dash_card_wrap {
	box-shadow: none;
	overflow: visible;
}
.info_card {
	height: 112px;
	margin: 7px 0px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
}
.contact_card {
	height: 70px;
	margin: 7px 0px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
}
	/*---------profile card start--------*/
	.artist_pic {

	}
	.artist_location {
		top: 98px;
		right: 57px;
	}
		#artist_location img {
			background-position: center;
		}
	.artist_name {
		font-size: 24px;
		font-weight: 200;
		margin-top: 26px;
	}
	#sns_bt_wrap {
		display: inline-block;
		border-radius: 5px;
		overflow: hidden;
		margin-top: 27px;
		height: 36px;
	}
		.sns_bt {
			width: 67px;
			height: 100%;
			line-height: 36px;
			margin: 0px -2px;
			display: inline-block;
			cursor: pointer;
		}
		.sns_bt:hover {
			opacity: 0.8;
		}
		#facebook_bt {
			background: #003366;
			color: #ffffff;
		}
		#twitter_bt {
			background: #00aced;
			color: #ffffff;
		}
		#google_bt {
			background: #dc4e41;
			color: #ffffff;
		}
	/*---------profile card end--------*/
	/*---------job card start--------*/
	#job_icon_wrap {
		background: #bd8cbf;
		height: 70px;
	}
		#job_title {
			position: absolute;
			font-weight: 200;
			font-size: 13px;
			color: #ffffff;
			text-align: left;
			padding-left: 8px;
			padding-top: 5px;
		}
		#job_icon {
			color: #ffffff;
			font-size: 40px;
			margin: 14px auto;
		}
		.artist_job {
			height: 42px;
			line-height: 37px;
			color: #444444;
			font-size: 20px;
			font-weight: 200;
		}
	/*---------job card end--------*/
	/*---------language card start--------*/
	#language_title {
		height: 25px;
		line-height: 25px;
		background: #aaaaaa;
		text-align: left;
		padding-left: 8px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
		#language_title i {
			font-size: 13px;
			color: #ffffff;
			margin-right: 3px;
		}
		#language_title span {
			font-size: 13px;
			font-weight: 200;
			color: #ffffff;
		}
		#language_wrap {
			height: 87px;
		}
			.personal_language {
				color: #444444;
				font-weight: 200;
				font-size: 18px;
				height: 50%;
				line-height: 43.5px;
			}
	/*---------language card end--------*/
	/*---------contact card start-------*/
	.contact_title {
		height: 35px;
		line-height: 37px;
		text-align: left;
		padding-left: 8px;
		color: #ffffff;
		font-size: 13px;
		font-weight: 200;
	}
		.contact_title i {
			font-size: 13px;
			margin-right: 5px;
		}
		.contact_title span {
			font-weight: 200;
		}

		#mobile_title {
			background: #48cfad;
		}
			#mobile_title i {
				font-size: 20px;
			}
		#web_title {
			background: #bd8cbf;
		}
		#email_title {
			background: #f5989d;
		}
	.in_num {
		height: 35px;
		line-height: 35px;
		color: #444444;
		font-size: 15px;
	}
	/*---------contact card end---------*/
	/*----------time card start---------*/
	.time_wrap {
		width: 50%;
		height: 100%;
		float: left;
		vertical-align: top;
	}
	#usertime {
		background: #48cfad;
	}
	#localtime {

	}
	.timename {
		font-size: 13px;
		font-weight: 200;
		text-align: left;
		padding-top: 5px;
		padding-left: 8px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#usertime_name {
		color: #ffffff;
	}
	#localtime_name {
		color: #444444;
	}
	.clock_wrap {
		display: inline-block;
		margin: 0px auto;
		margin-top: 40px;
	}
		.ampm {
			font-weight: 200;
			font-size: 17px;
			text-align: left;
		}
		#user_ampm {
			color: #ffffff;
		}
		#local_ampm {
			color: #48cfad;
		}
	
		.clock {
			margin-top: -12px;
			font-weight: 200;
			font-size: 65px;
			text-align: center;
		}
		.colon {
			font-weight: 200;
			visibility: visible;
		}
		#userclock {
			color: #ffffff;
		}
		#localclock {
			color: #48cfad;
		}
	.time_location {
		margin-top: 10px;
		font-weight: 200;
	}
	#user_location {
		color: #ffffff;
	}
	#local_location {
		color: #444444;
	}
	/*-----------time card end----------*/
	











