@charset "utf-8";

#personal_view {
	width: 100%;
	position: relative;
}


.con_aside {
	width: 250px;
	float: left;
	border-right: 1px solid #dddddd;
	border-left: none;
}
	#user_information {
		width: 100%;
		display: block;
		position:  relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#userinfo_main {
		padding: 5px;
		margin-top: 20px;
	}
		#user_pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
		}
			#user_pic img {
				width: 100%;
			}
		#userinfo_main h4 {
			line-height: 40px;
			display: inline-block;
			font-size: 22px;
			color: #48cfad;
			margin-left: 10px;
			vertical-align: top;
		}
		#userinfo_main h5 {
			margin-top: 10px;
			padding: 5px;
			font-size: 15px;
			font-weight: 200;
			color: #444444;
			text-align: left;
			word-break: break-all;
		}


	#subnav {
		margin-top: 20px;
	}
	    #personal_aside li {
	        width: 100%;
	        height: 45px;
	        line-height: 45px;
	        color: #777777;
	        border-bottom: 1px solid #dddddd;
	        cursor: pointer;
	        text-align: left;
	        padding-left: 50px;
	        box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    #personal_aside li:first-child {
	    	border-top: 1px solid #dddddd;
	    }
	    #personal_aside li:hover{
	        background:#f8f8f8;
	    }
	    .selected_subnav{
	        border-left: 7px solid #48cfad !important;
	        color:#48cfad !important;
	        padding-left: 43px !important;
	    }
.con_main {
	padding-right: 0;
	padding-left: 250px;
}

